@import url("../../../bower_components/normalize.css/normalize.css");
/*@import url("../../../bower_components/semantic-ui/dist/semantic.css");*/
@import url("../../../bower_components/swiper/dist/css/swiper.min.css");


html {
    background: #d3d3d3;
    height: 100%;
    color: #222;
    font-size: 100%;
}

body {
    display: block;
    margin: 8px;
    background: #fff;
    max-width: 1050px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 2.5em #5d656c;
    -moz-box-shadow: 0 0 2.5em #5d656c;
    box-shadow: 0 0 2.5em #5d656c;
    /*font: 1em/1.7 'Helvetica Neue',Helvetica,Arial,sans-serif;*/
    min-height: 100%;
}

.footer-links-sub-header{
    margin: 1em 0 1em 0;
    padding: 0;
}

.moved-left-1em {
    font-size: 90%;
    margin-left: 1em !important;
}

.content-centered {
    text-align: center !important;
}

.logo {
    padding: 2em 1em 1.5em 1em!important;
}

.gray-shaded-box {
    -webkit-box-shadow: 0 0 1.5em #5d656c !important;
    -moz-box-shadow: 0 0 1.5em #5d656c !important;
    box-shadow: 0 0 1.5em #5d656c !important;
}

.gray-gradient-bg {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.full-width {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.padded-1em {
    padding: 1em !important;
}

.padded-left-1em {
    padding-left: 1em !important;
}

.padded-0-5em{
    padding: 0.5em !important;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.7;
}
.swiper-pagination-bullet-active {
    background: red;
}

.toc{
    background: url("../fonts/icons.svg") top left !important;
}

.rounded-corners-0-3em{
    border-radius: 0.3em;
}

.collections-grid img {
}

.top-menu-link {
}

.top-menu-link:hover{
}

.eco-friendly{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398235+3,c9de96+61,c9de96+100&amp;1+0,0+100 */
    background: -moz-linear-gradient(left,  rgba(57,130,53,1) 0%, rgba(57,130,53,0.97) 3%, rgba(201,222,150,0.39) 61%, rgba(201,222,150,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(57,130,53,1)), color-stop(3%,rgba(57,130,53,0.97)), color-stop(61%,rgba(201,222,150,0.39)), color-stop(100%,rgba(201,222,150,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(57,130,53,1) 0%,rgba(57,130,53,0.97) 3%,rgba(201,222,150,0.39) 61%,rgba(201,222,150,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(57,130,53,1) 0%,rgba(57,130,53,0.97) 3%,rgba(201,222,150,0.39) 61%,rgba(201,222,150,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(57,130,53,1) 0%,rgba(57,130,53,0.97) 3%,rgba(201,222,150,0.39) 61%,rgba(201,222,150,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(57,130,53,1) 0%,rgba(57,130,53,0.97) 3%,rgba(201,222,150,0.39) 61%,rgba(201,222,150,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#00c9de96',GradientType=1 ); /* IE6-9 */


    color: #024603;
    font-size: 120%;
    margin-top: -1.7em !important;
    font-style: italic;
    font-family: "Lucida Console";


}

.collections-sidebar .active {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    border-right: 4px solid black;
}

.sidebar .active {
    text-decoration: underline !important;
}

.top-menu .active {
    border-bottom: 4px solid black !important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    padding-top: 25px;
    height: 0;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    border: 0 !important;
    padding: 0.5em;
}